:root {
  font-size: 16px;
}

body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    BCSans,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  // line-height: 1.2em;
}

h1 {
  font-size: 2.074rem;
}
h2 {
  font-size: 1.728rem;
}
h3 {
  font-size: 1.44rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}

p {
  margin-top: 0;
}

a,
a:visited {
  color: $bcbox-link-text;
  text-decoration: underline;
  &:hover {
    color: $bcbox-link-text-hover;
  }
}
a:focus-visible {
  outline: 0 none;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-radius: inherit;
}
a button:focus-visible {
  box-shadow: none;
}

div:focus-visible {
  outline: 0 none;
  box-shadow: inset 0px 0px 0 0.2rem #a6d5fa;
  border-radius: inherit;
}

.wrap-block {
  display: inline-block;
  overflow-wrap: break-word;
  width: 100%;

  td {
    width: inherit;
  }
}

.truncate {
  max-width: 1px;
  white-space: nowrap;

  > div, > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.no-indent {
  text-indent: 0 !important;
}

.drop-shadow {
  box-shadow: 0 6px 6px -1px rgb(145, 145, 145);
}

.p-tooltip{
  max-width: 400px !important;
}

.help-link {
  font-size: 100%;
  cursor: pointer;
  position: relative;
  top: -.25rem;
  margin-left: .1rem;
  opacity: 1;
  color: $bcbox-link-text;
}

/* layout */
.layout-main {
  margin: 1rem;
  min-height: 600px; // ensure adequte space below main content on short screens
  @media screen and (min-width: 992px) {
    margin: 1rem 5rem 1rem 5rem;
  }
  @media screen and (min-width: 1600px) {
    margin: 1rem 15% 1rem 15%;
  }
}

/* footer */
.gov-footer {
  background-color: #003366;
  border-top: 2px solid #fcba19;
  padding-bottom: 3px;
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: #ffffff;
    }
  }

  & > div:last-child {
    order: 1;
  }
  .version {
    color: #ffffff;
    float: right;
  }
}

/* icons and buttons */

.material-icons-round,
.material-icons-outlined {
  color: $bcbox-icon-default;
  &:hover {
    color: $bcbox-primary;
    text-decoration: none;
  }
  &.icon-medium { font-size: 200%; }
  &.icon-large { font-size: 250%; }
  &.sync-icon { font-size: 130%; }
}

.p-button:hover {
  opacity: 0.8;
}
.p-button .p-button-icon:before {
  text-decoration: none;
  display: inline-block;
}

.p-button {
  border-width: 2px;
  &:not(.p-button-secondary, .p-button-success, .p-button-info, .p-button-warning, .p-button-help, .p-button-danger) {
    color: $bcbox-primary;

    &:not(.p-button-text) span[class^="material-icons-"] {
      color: $bcbox-primary;
    }

    &:not(.p-button-outlined, .p-button-text) {
      background-color: $bcbox-primary;
      border-color: $bcbox-primary;
      color: $bcbox-outline-on-primary;

      span[class^="material-icons-"] {
        color: white;
      }
    }
  }
}

.p-button-outlined {
  border-width: 2px;
  &.p-disabled, &.p-disabled span {
    color: var(--text-color) !important;
  }
}

// 'permanently delete' button
.deleted-object-list {
  .btn-delete {
    &, & span { color: red  !important; }
    &.p-disabled, &.p-disabled span {
      color: var(--text-color) !important;
    }
  }
}

.p-confirm-dialog-reject {
  border: 2px solid $bcbox-primary;
}

/* checkboxes, radios, input switches */
.p-highlight .p-checkbox-box:not(.p-disabled),
.p-highlight .p-radiobutton-box:not(.p-disabled),
.p-highlight .p-inputswitch-slider:not(.p-disabled) {
  background-color: $bcbox-primary;
  border-color: $bcbox-primary;
  &:hover {
    opacity: 0.8;
  }
}
.p-tag {
  background-color: $bcbox-primary;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  font-weight: 400;
}

.p-tag-danger {
  background-color: #fef1d8;
  outline-style: solid;
  outline-color: #f8bb47;
  outline-width: thin;

  .p-tag-value {
    color: #474543;
  }

  .p-tag-icon {
    color: #474543
  }
}

/* datatable */
.p-datatable,
.p-treetable {
  .p-datatable-loading-overlay,
  .p-treetable-loading-overlay {
    background: white;
    opacity: 0.8;
  }

  thead > tr > th {
    background-color: transparent !important;
  }

  &.p-datatable-striped tbody > tr {
    &:nth-child(even) {
      background-color: $bcbox-table-stripe-background;
    }
  }

  tbody {
    tr {
      &.p-highlight,
      &.selected-row {
        background: $bcbox-highlight-background !important;
      }
      &.deleted-row td:not(.action-buttons) {
        opacity: 0.6 !important;
      }
    }
  }

  table tbody,
  table tbody tr td:focus-visible{
    outline: 0 none;
    box-shadow: inset 0px 0px 0 0.2rem #a6d5fa;
  }

  .p-column-title {
    font-weight: bold;
  }

  .p-paginator {
    justify-content: right;
  }

  .header-center .p-column-header-content {
    justify-content: center;
  }
  .content-center {
    text-align: center !important;
  }
  .header-right .p-column-header-content {
    justify-content: right;
  }
  .action-buttons {
    text-align: right;
    white-space: nowrap;
    // width: 150px;
  }

  .action-buttons .p-button {
    padding: 0;
    margin-left: .8rem;
    font-size: 1.25rem;
  }
}

.versions-table .p-datatable-table tbody tr:not(.selected-row) {
  &:hover {
    background-color: $bcbox-highlight-background !important;
    cursor: pointer;
  }
}

.p-input-icon-clear-right {
  position: absolute !important;
  right: 0rem;
}

/* modals */
.bcbox-info-dialog {
  width: 800px;
  .p-dialog-header {
    padding-bottom: 0;

    .svg-inline--fa,
    span[class^="material-icons-"] {
      font-size: 1.8rem;
      padding-right: 0.75rem;
      border: 0;
    }

    .p-dialog-title {
      flex-grow: 1;
      @extend h2;
    }
  }

  .bcbox-info-dialog-subhead {
    font-weight: normal;
    margin-bottom: 1.5rem;
    padding-left: 2.6rem;
    @extend .wrap-block;
  }
}

.p-confirm-dialog {
  max-width: 50%;
}

.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.p-tabview-header.p-disabled .p-tabview-nav-link {
  color: gray;
}

/* side panel */

.side-panel {
  .panel-header {
    margin-bottom: 1.5rem;

    & > .svg-inline--fa {
      color: $bcbox-primary;
      margin-top: 0.4rem;
      font-size: 1.7rem;
    }
    .p-button .svg-inline--fa {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }
  }
  h1 {
    font-size: 1.728rem;
  }
  h2 {
    font-size: 1.44rem;
    margin-bottom: 0.5rem;
  }
}

/* details grid */

.details-grid {
  h2 {
    margin-bottom: 1rem;
  }
  .col-fixed {
    width: 150px; // label column
  }
  .details-value-column {
    width: 40rem;
  }
  .sidebar .details-value-column {
    width: 20rem;
  }
}

/* share modal */
a.p-tabview-header-action {
  text-decoration: none;
}

/* forms */
.field span[role="alert"] {
  color: $bcbox-error;
}
