@import './base.css';
@import './primevue.scss';
@import './variables.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.truncate {
  max-width: 1px;
  white-space: nowrap;

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content-center {
  text-align: center !important;
}

.content-right {
  text-align: right !important;
}

.permissions-modal {
  width: 800px;
}

// -------- layout

// details page / sidebar
.details-grid {
  h2 { margin-bottom: 1rem; }
  .col-fixed { width: 150px; }  // label column
  // make datatable look like grid
  .p-datatable {
    thead th{ padding-top: 0; }
    td { padding: 0.5rem; }
    th:first-child,
    td:first-child { padding-left: 0; }
  }
}
.details-value-column { width: 40rem; }
.sidebar .details-value-column { width: 20rem; }
// eof details page / sidebar

// wrap text
.wrap-block{
  display: inline-block;
  overflow-wrap: break-word;
  width: 100%;
}
td .wrap-block{ width: inherit; }

// --------- Info/settings dialog modals
.bcbox-info-dialog {
  &.p-dialog {
    .p-dialog-header {
      padding-bottom: 0;

      .svg-inline--fa {
        color: $bcbox-icon-primary;
        font-size: 1.8rem;
        padding-right: .75rem;
        padding-top: .15rem;
      }

      .p-dialog-title {
        flex-grow: 1;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    .bcbox-info-dialog-subhead {
      font-weight: normal;
      margin-bottom: 1.5rem;
      padding-left: 3.1rem;
      @extend .wrap-block;
    }
  }
}
