@import "./variables.scss";

.header-center .p-column-header-content {
  justify-content: center;
}

.header-right .p-column-header-content {
  justify-content: right;
}

.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
}

.p-datatable {
  .p-datatable-thead > tr > th {
    background-color: transparent !important;
  }

  &.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr {
    &.p-highlight {
      background: $bcbox-highlight-background !important;
    }
    &:focus {
      outline: none !important;
    }
  }

  .p-column-title {
    font-weight: bold;
  }

  .p-paginator {
    justify-content: right;
  }

  .action-buttons .p-button.p-button-lg {
    padding: 0;
    margin-left: 1rem;
  }
}
