.header-center .p-column-header-content {
  justify-content: center;
}

.header-right .p-column-header-content {
  justify-content: right;
}

.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
}

.p-datatable {
  .p-datatable-thead > tr > th {
    background-color: transparent !important;
  }

  .p-column-title {
    font-weight: bold;
  }

  .p-paginator {
    justify-content: right;
  }

  .action-buttons .p-button.p-button-lg {
    padding: 0;
    margin-left: 1rem;
  }
}

.p-fileupload-buttonbar button:nth-child(n + 2) {
  background-color: transparent;
  color: #2196f3;
  border: 1px solid;
}
