/* --------- variable overrides for primevue--------- */
// ref: https://primevue.org/colors/
:root {
  --text-color: #495057;
  --primary-color: #036;
}

/* -------- custom css variables --------- */
// buttons, links
$bcbox-primary: #036;
$bcbox-link-text: #1a5a96;
$bcbox-link-text-hover: #2378c7;
$bcbox-outline-on-primary: #fff;
$bcbox-success: #2e8540;
$bcbox-error: #d8292f;
$bcbox-noaction: #606060;
$bcbox-icon-default: #5f6368;

// highlighted sections, table rows
$bcbox-highlight-background: #d9e1e8;
$bcbox-table-stripe-background: #f2f2f2;
