// General font/etc colors
$bcbox-primary: #036;
$bcbox-link-text: #1a5a96;
$bcbox-link-text-hover: #00f;
$bcbox-outline-on-primary: #fff;

// Panel/row/etc backgrounds
$bcbox-highlight-background: #d9e1e8;
$bcbox-table-stripe-background: #f2f2f2;
